*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form{
    margin: 150px auto;
    width: 30%;
}

.submit_buttons{
    display: flex;
    flex-direction: row;
}




