*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

label{
    color: white;
}

#login_form{
    margin: auto;
    width: 30%;
}

