@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

body{
  height:100vh;
  display:flex; 
  flex-direction:column; 
}

article{
  z-index: 0;
  margin: 120px auto 40px auto;
  width: 90%;
}

nav {
  max-height: 62px;
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

nav ul .title {
  font-size: 30px;
  margin-right: 80px;
  background-image: linear-gradient(45deg, #56ab2f, #a8e063);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

ul li {
  list-style: none;
  padding: 18px;
}

ul li:hover {
  background: linear-gradient(45deg, #56ab2f, #a8e063);
}

ul li a {
  text-decoration: none;
  padding: 15px;
  color:#56ab2f;
}

ul li a:hover {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: white;
  text-align: right;
  color: #56ab2f;
  font-size: 30px;
  display: none;
}

#currentpage {
  border: 3px solid #56ab2f;
  border-radius: 5%;
}


@media (max-width: 768px) {
  .toggle {
    display: block;
  }

  ul {
    width: 100%;
    display: none;
    background: #fff;
  }

  ul .title {
    margin-left: 80px;
  }

  ul li,
  ul div {
    display: block;
    text-align: center;
    z-index: 2;
  }

  .active {
    display: block;
    z-index: 1;
  }
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #56ab2f;
  padding: 20px 0px;
}
.footer-col {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  margin: 0 70px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  margin: 0px 100px 35px 0px;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background: linear-gradient(45deg, #56ab2f, #a8e063);
  height: 2px;
  width: 130px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #56ab2f;
  background: linear-gradient(45deg, #56ab2f, #a8e063);
}

/*responsive*/
@media (max-width: 768px) {
  .footer-col {
    margin: 0px 5px;
  }
}


