article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    position: relative;
    height: 300px;
    width: 900px;
    z-index: -1;
}

.main{
    position: absolute;
    font-size: 150px;
    top:0;
    left: 0;
    background-image: linear-gradient(45deg,#F64C72, #99738E);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.sub{
    position: absolute;
    font-size: 50px;
    bottom: 0;
    right: 0;
    color: #2F2FA2;
}

/*responsive*/
@media(max-width: 975px){  
    .main{
      left: 20px;
    }
  
    .sub{
      right: 20px;
    }
}

@media(max-width: 775px){  
  .main{
    font-size: 130px;
  }

  .sub{
    font-size: 50px;
    right: 100px;
    bottom: 20px;
  }
}
  
@media(max-width: 575px){
    .main{
      font-size: 110px;
      left: 10px;
    }
  
    .sub{
      font-size: 30px;
      left: 50px;
      bottom: 60px;
    }
}
